<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>QR-Code Helper</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="update()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <h2>Bestehende Verknüpfungen</h2>
  <ion-list>
    <ion-item>
      <ion-label>Nur eigene Verknüpfungen anzeigen</ion-label>
      <ion-toggle [(ngModel)]="user" (ionChange)="update()"></ion-toggle>
    </ion-item>
  </ion-list>

  <div *ngIf="this.qrRedirectArray.length >= 1">
    <ion-card *ngFor="let redirect of this.qrRedirectArray"
              (click)="showRedirect(redirect)">
      <ion-card-header><b>Titel: {{redirect.titel}}</b></ion-card-header>
      <ion-card-content>
        <p *ngIf="redirect.location">Ort: {{redirect.location}}</p>
        <p>Link: {{redirect.address}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="this.qrRedirectArray.length == 0">
    <ion-card>
      <ion-card-content>
        Keine Verknüpfungen verfügbar
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
